{{> dashboard_navbar}}

<div class="mt-2">
    <div class="box has-background-light">
        <h3 class="title is-3">Ajouter un appareil</h3>
        <p class="">
            Pour ajouter un appareil, veuillez entrer le nom de l'appareil.
            Ensuite les informations de connexion vous seront fournies.
        </p>
        <hr>
        <form action="" method="POST">
            <div class="field">
                <label class="label">Nom <small>(juste pour la gestion)</small><label>
                        <div class="control">
                            <input class="input" type="text" name="name" placeholder="Nom de l'appareil">
                        </div>
            </div>
            <div class="field">
                <button class="button is-success is-fullwidth">Ajouter</button>
            </div>
        </form>

    </div>
</div>