{{> dashboard_navbar}}

<div class="container">

    <div class="card">
        <div class="card-content">
            <div class="content is-medium">
                Hey {{user.name}}, bienvenue sur votre dashboard !
               
                <div class="mt-4">
                    <span class="tag is-info is-medium">{{nbDevices}} appareils connectés</span>
                    <span class="tag is-success is-medium">{{nbImages}} images enregistrées</span>
                </div>
            </div>

        </div>
    </div>

</div>