<h1>Bienvenue sur TimeLabs</h1>
<p>
    Vous êtes sur la page d'accueil.
</p>
<p>
    <a href="/users/login">Se connecter</a>
</p>
<p>
    <a href="/users/register">S'inscrire</a>
</p>

<p>Il y a {{nbUsers}} utilisateurs inscrits, {{nbDevices}} appareils connectés et {{nbImages}} images enregistrées.</p>
